body {
	padding: 1em;
}

.App {
	padding: 1em;
	margin: 2em auto 0 auto;
	max-width: 500px;
	border: solid 1px #0069a1;
	border-radius: .5em;
}

.symbol {
	padding: 0 .75em;
	transition: opacity .25s ease-out;
}
dd,
dt {
	margin: 0;
}

dt {
	font-weight: bold;
	margin: 1.5em 0 .25em 0;
}

.is-loading {
	opacity: 0;
}